# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
*.log

# Django
.env
db.sqlite3
staticfiles/
media/

# Next.js
frontend/.next/
frontend/out/
frontend/node_modules/
frontend/.env.local
frontend/.env.*.local

# macOS
.DS_Store
